.font-roboto-condensed {
  font-family: "Roboto Condensed", sans-serif !important;
}
.font-barlow {
  font-family: "Barlow", sans-serif;
}
.font-satisfy {
  font-family: "Satisfy", cursive;
}
.font-quattrocento {
  font-family: "Quattrocento", serif;
}
.radius {
  border-radius: 50px;
  padding: 0.8rem 1.5rem;
}
.ac {
  padding: 1rem 3rem;
}
.tek {
  margin-top: 4rem;
}
.px-1 {
  padding: 0 1rem;
}
.px-2 {
  padding: 0 2rem;
}
.px-3 {
  padding: 0 3rem;
}

.py-3 {
  padding: 1rem 0;
}
.py-3 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}

.main-content-items {
  padding: 0.5rem;
  margin-top: 4rem;
}
.menu {
  padding: 2rem 3rem;
}
.hack-text {
  font-size: 2rem;
}
.main-content-title {
  margin: 2rem auto;
}
.rounded1 {
  padding: 0.5rem 1rem;
  border-radius: 50px;
}
.main-content-food {
  margin: 0 auto;
  padding: 1rem 1.5rem;
}
.pz1 {
  padding: 1rem 1.5rem;
}
.inform {
  margin: 1rem 0;
}
footer {
  margin: 0 auto;
  padding: 4rem 5rem 1rem 4rem;
}
.footer-main {
  padding-bottom: 3rem;
  margin: 2rem auto 0 auto;
}
.address {
  margin-top: 2rem;
}
.footer-bottom {
  margin: 1rem auto;
  padding-top: 2rem;
}
